<template name="services">
	  <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We offer many different services to help you. You get setup for success.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                       <img class="img-responsive img-centered" src="../img/e-commerce.png" alt="e-commerce">
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Electronic commerce, commonly written as e-commerce or eCommerce, is the trading or facilitation of trading in products or services using computer networks, such as the Internet or online social networks. (from Wiki) <br><a href="/portfolio">We make it...</a></p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive img-centered" src="../img/responsive-web.png" alt="web-resposobility">
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Responsive web design (RWD) is an approach to web design aimed at allowing desktop webpages to be viewed in response to the size of the device one is viewing with.( from Wiki)<br><a href="/portfolio">We make it...</a></p>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive img-centered" src="../img/print-service.png" alt="security">
                    <h4 class="service-heading">Print Design</h4>
                    <p class="text-muted">Print design is a graphic design, creative process of producing a visual communication and presentation that is performed in order to convey a specific message or messages to a targeted audience, purposely made for printing. (from Wiki)<br>
                    <a href="/portfolio">We make it...</a></p>
                </div>
            </div>
        </div>
    </section>
</template>